@import '../styles/variables';
@import '../components/Banner.scss';

.about {
  width: 100%;

  .content {
    padding: 50px;

    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-top: 20px;
    }

    p {
      font-size: 18px;
      line-height: 1.6;
      margin-top: 10px;
    }
  }
}
