// Collapse.scss

.collapse {
    margin: 1rem 0;
  
    .collapse-button {
      background-color: #ff6060;
      color: white;
      padding: 1rem;
      border: none;
      width: 100%;
      text-align: left;
      font-size: 1.2rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .collapse-icon {
      transition: transform 0.3s;
    }
  
    .collapse-icon.open {
      transform: rotate(180deg);
    }
  
    .collapse-content {
      padding: 1rem;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
    }
  }
  