@import '../styles/variables';

.layout {
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .logo img {
    padding: 20px;

    @media (max-width: 430px) {
      padding: 0;
    }
  }

  nav a {
    color: black;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    margin-right: 50px;

    @media (max-width: 430px) {
      margin-right: 0;
      font-size: 18px;
    }

    &:hover,
    &.active {
      color: $primary-color;
    }

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: black;
      transition: width 0.2s ease-in-out;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover::after,
    &.active::after {
      width: 100%;
    }
  }
}

.main-content {
  flex: 1;
  padding: 20px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 430px) {
    padding: 20px;
  }
}

.footer {
  background-color: black;
  color: $secondary-color;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;

  .footer-logo img {
    height: 40px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
